.normal {
  background     : #ff9acc;
  text-align     : center;
  display        : flex;
  justify-content: center;
  min-width      : 900px;
}

.body {
  background-color: #ffccff;
  margin          : 20px;
  border-radius   : 20px;
  width           : 800px;
}

.divide {
  /* border: 0.5px solid #ff66b3; */
  border   : 0.5px solid #ff9acc;
}

.msg {
  background-color: #ffffcc;
  margin          : 20px;
  padding         : 4px;
  border-radius   : 20px;
}

.inline {
  display        : flex;
  justify-content: start;
}

.title {
  margin-left  : 40px;
  margin-right : 20px;
  margin-top   : 5px;
  margin-bottom: 5px;
  font-weight  : bold;
}

.input {
  border       : none;
  border-radius: 20px;
  margin-right : 20px;
  width        : 350px;
  text-align   : center;
}

.button {
  background-color: #01cccb;
  width           : 100px;
  border          : none;
  border-radius   : 10px;
  cursor          : pointer;
  color           : white;
}

.text {
  margin: 4px;
}

.text2 {
  margin: 8px 20px 8px 60px;
}