
.normal {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-self: center;
  padding-top: 24px;
}

.body {
  width: 90%;
  margin:auto;
  background-color: #CABFFB;
  min-height: 80vh;
  border-radius: 20px;
}
